DirectoryIndex index.php index.html index2.html

ErrorDocument 400 https://infinityfree.net/errors/400
ErrorDocument 401 https://infinityfree.net/errors/401
ErrorDocument 403 https://infinityfree.net/errors/403
ErrorDocument 404 https://infinityfree.net/errors/404
ErrorDocument 500 https://infinityfree.net/errors/500
ErrorDocument 503 https://infinityfree.net/errors/503

#evitar acceso a .htaccess
<Files .htaccess>
Order allow,deny
Deny from all
</Files>

# evitar listado de directorios
IndexIgnore*

# evitar acceso a carpeta sin index
Options All -Indexes

# comprimir focheros texto, html, javascript, css, xml
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript

# manejo de cache de archivos html,css,php,js
ExpiresActive On
ExpiresDefault A0
<FilesMatch "\.(html|htm|php|js)$">
ExpiresDefault A90
</FilesMatch>